#container {
    margin-top: 300px;
}
#container #UI {
    top: 0;
    left: 0;
    z-index: 1;
}
#container #flex {
    position: relative;
    display: flex;
    align-items: center;
    top: -242px;
    left: 130px;
    z-index: 2;
}
#container #flex a,
#container #flex img {
    position: relative;
}
#container #flex #btn-minus-wrapper {
    margin-left: 22px;
}
#container #flex #btn-plus-wrapper {
    margin-left: 204px;
}
#container #flex #turbo-box-wrapper {
    margin-left: 1072px;
}
#container #flex #tumbler-wrapper {
    margin-left: -160px;
    margin-top: 35px;
}
#container #flex #btn-auto-wrapper {
    margin-left: 20px;
}
#container #flex #btn-spin-wrapper {
    display: inline-block;
    background-image: url("./imgs/btn_spin/bg/bg_normal.png");
    height: 351.99px;
    width: 351.99px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 1975px;
    position: absolute;
}
#container #flex #btn-spin-wrapper:hover {
    background-image: url("./imgs/btn_spin/bg/bg_hover.png");
}
#container #flex #btn-spin-wrapper:active {
    background-image: url("./imgs/btn_spin/bg/bg_click.png");
}
#container #flex #bg-sq-disabled {
    left: 1975px;
    position: absolute;
    z-index: 0;
}
#container #sheet-limit {
    overflow:hidden;
    margin-top: -725px;
    margin-left: 1895px;
}
#container #sheet-limit #sheet {
    background-image: url('./imgs/spinselect_box/bg.png');
    height: 388px;
    width: 385px;
    position: relative;
    z-index: 1;
}
#container #sheet-limit #sheet #list {
    padding-top: 20px;
}
#container #sheet-limit #sheet #list .item {
    color: #ffd100;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
#container #sheet-limit #sheet #list .item:hover {
color: #fff;
}

#container #sheet-limit #sheet #list .item:active {
color: #f48a00;
}
