<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    #plank{
        background-image: url("../imgs/list/bg.png");
        height: 388px;
        width: 385px;
    }
#list {
    padding-top: 20px;
}
.item {
    color: #ffd100;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
}

.item:hover {
  color: #fff;
}

</style>
</head>
<body>
    <div id="plank">
        <ul id="list">
            <a href="#" class="item">until feature</a>
            <a href="#" class="item">spin 25</a>
            <a href="#" class="item">spin 20</a>
            <a href="#" class="item">spin 15</a>
            <a href="#" class="item">spin 10</a>
            <a href="#" class="item">spin 5</a>
            <img src="../imgs/btn_auto/normal.png">
        </ul>  
    </div>

</body>
</html>