<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #wrapper {
            height: 388px;
            width: 385px;
            overflow: hidden;
        }

        #list {
            position: relative;
        }

        #divToImg {
            position: relative;
            height: 388px;
            width: 385px;
            background-image: url("../imgs/list/bg.png");
        }
    </style>
</head>

<body>
    <div>
        <div id="wrapper">
            <!-- <img src="../imgs/list/bg.png" id="list" /> -->
            <div id="divToImg"></div>
        </div>
        <img src="../imgs/btn_auto/click.png" alt="">
    </div>





</body>

</html>